<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="form">
<form id="creatOrderForm" th:action="@{/createOrder}" method="post" >
    <div class="row">
        <!--快递方式及支付方式-->
        <div class="col-sm-12">
            <div class="panel panel-default no-padding">
                <div class="col-sm-6 checkout-shipping-methods">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-truck"></i> 运输方式</h4>
                    </div>
                    <div class="panel-body ">
                        <p>请选择订单使用的运送方式</p>
                        <div class="radio" th:switch="${#session.getAttribute('postPrice')}">
                            <label>
                                <input id="expressId" th:case="'0'" type="radio" checked data-expressRadio name="Delivery" value="0">
                                <!--<input th:case="null" type="radio" checked data-expressRadio name="Delivery" value="0">-->
                                <input th:case="'10'" type="radio" data-expressRadio name="Delivery" value="0">
                                平邮快递 - ￥0.00
                            </label>
                        </div>
                        <div class="radio" th:switch="${#session.getAttribute('postPrice')}">
                            <label>
                                <input th:case="'10'" type="radio" checked data-expressRadio name="Delivery" value="10">
                                <input th:case="'0'" type="radio" data-expressRadio name="Delivery" value="10">
                                顺丰速运 - ￥10.00
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6  checkout-payment-methods">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-credit-card"></i> 支付方式</h4>
                    </div>
                    <div class="panel-body">
                        <p>请选择订单的付款方式</p>
                        <div class="radio" th:switch="${#session.getAttribute('paymentId')}">
                            <label>
                                <input id="paymentId" th:case="'1'" type="radio" checked="checked" data-paymentRadio name="Payment" value="1">
                                <input th:case="'2'" type="radio" name="Payment" data-paymentRadio value="1">
                                <!--<input th:case="'3'" type="radio" name="Payment" data-paymentRadio value="1">-->
                                微信
                            </label>
                        </div>
                        <div class="radio" th:switch="${#session.getAttribute('paymentId')}">
                            <label>
                                <input th:case="'1'" type="radio" name="Payment" data-paymentRadio value="2">
                                <input th:case="'2'" type="radio" checked="checked" data-paymentRadio name="Payment" value="2">
                                <!--<input th:case="'3'" type="radio" name="Payment" data-paymentRadio value="2">-->
                                支付宝
                            </label>
                        </div>
                        <!--<div class="radio" th:switch="${#session.getAttribute('paymentId')}">-->
                            <!--<label>-->
                                <!--<input th:case="'1'" type="radio" name="Payment" data-paymentRadio value="3">-->
                                <!--<input th:case="'2'" type="radio" name="Payment" data-paymentRadio value="3">-->
                                <!--<input th:case="'3'" type="radio" checked="checked" data-paymentRadio name="Payment" value="3">-->
                                <!--银联-->
                            <!--</label>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>

        <!--选择收货地址及编辑-->
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-pencil"></i> 确认收获地址<a class="pull-right" data-toggle="modal" data-target="#insertAddressModal">新增地址</a></h4>
                    <!--新增地址的模态框-->
                    <div class="modal fade" id="insertAddressModal" tabindex="-1" role="dialog" aria-hidden="true" data-aams>
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <!--新增地址的表单-->
                                <div class="modal-body">
                                    <div class="panel panel-default" style="color: black">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <i class="fa fa-pencil"></i> 新增地址
                                            </h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <label class="col-form-label">地址信息(请填写包括省/市/区在内的详细信息):</label>
                                                <!--data-AAmessage是新增收货人的地址-->
                                                <input class="form-control" data-AAmessage/>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label">收货人名称:</label>
                                                <!--data-AAname是新增收货人的姓名-->
                                                <input class="form-control" data-AAname/>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label">收货人电话:</label>
                                                <!--data-AAphone是新增收货人的电话-->
                                                <input class="form-control" data-AAphone/>
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <a type="button" class="btn btn-primary" data-Aaddress >保存</a>
                                            <a type="button" class="btn btn-danger ml-3" data-dismiss="modal">取消</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body checkout-shipping-methods">

                    <!--此处应为根据用户查询数据库收货地址表的信息-->
                    <div th:each="memberAddress,addressStat : ${#session.getAttribute('memberAddresses')}">
                        <div class="radio">
                            <label id="addressRadio">
                                <input th:id="'radio'+ ${addressStat.index}" type="radio" name="address" data-checkedRadio th:value="${memberAddress.getId()}">
                                <!--数据库查出来的地址和名字-->
                                <i class="fa fa-street-view">&nbsp;&nbsp;</i>
                                <span th:text="${memberAddress.getSpecificAddress()} + ' '+ ${memberAddress.getConsigneeName()} + ' 收'"></span>
                                <!--<span th:text="'成都西部金融中心 小桐桐 收'"></span>-->
                            </label>
                            <a class="pull-right" data-toggle="modal" th:data-target="'#exampleModal' + ${memberAddress.getId()}">修改本地址</a>
                            <!--<a class="pull-right" data-toggle="modal" data-target="motaikuang">修改本地址</a>-->

                            <!--修改地址的模态框-->
                            <!--<div class="modal fade" id="motaikuang" tabindex="-1" role="dialog" aria-hidden="true">-->
                            <div class="modal fade" th:id="'exampleModal'+ ${memberAddress.getId()}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">

                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <i class="fa fa-pencil"></i> 修改地址
                                                    </h4>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <!--数据库查出来的收货地址-->
                                                        <label class="col-form-label">地址信息(请填写包括省/市/区在内的详细信息):</label>
                                                        <input class="form-control" th:placeholder="${memberAddress.getSpecificAddress()}" data-DAmessage />
                                                    </div>
                                                    <div class="form-group">
                                                        <!--数据库查出来的收货人名字-->
                                                        <label class="col-form-label">收货人名称:</label>
                                                        <input class="form-control" th:placeholder="${memberAddress.getConsigneeName()}" data-DAname/>
                                                    </div>
                                                    <div class="form-group">
                                                        <!--数据库查出来的收货人电话-->
                                                        <label class="col-form-label">收货人电话:</label>
                                                        <input class="form-control" th:placeholder="${memberAddress.getPhone()}" data-DAphone/>
                                                    </div>
                                                </div>
                                                <div class="pull-right">
                                                    <a th:id="${addressStat.index}" type="button" class="btn btn-primary" data-Daddress th:data-UAid="${memberAddress.getId()}">保存</a>
                                                    <a type="button" class="btn btn-danger ml-3" data-dismiss="modal">取消</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--订单的商品详情-->
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-shopping-cart"></i> 确认订单信息</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td class="text-center">商品图片</td>
                                <td class="text-left">商品名称</td>
                                <td class="text-left">商品属性</td>
                                <td class="text-left">数量</td>
                                <td class="text-right">单价</td>
                                <td class="text-right">小计</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="confirmOrderVO : ${#session.getAttribute('confirmOrderVOs')}">
                                <!--商品查出来的商品图片-->
                                <td class="text-center">
                                    <a href="javascript:;"><img width="60px" th:src="@{${confirmOrderVO.getSkuImg()}}" class="img-thumbnail"></a>
                                    <!--<a href="${root}/product?method=detail&spu_id=${spu_detail.id}"><img width="60px" th:src="@{/img/sku-img/iphone_hei.png}" class="img-thumbnail"></a>-->

                                </td>
                                <!--数据库查出来的商品名称-->
                                <td class="text-left">
                                    <a href="javascript:;">
                                        <!--<span th:text="${confirmOrderVO.getSpu_name()}"></span>-->
                                        <span th:text="${confirmOrderVO.getSpuName()}"></span>
                                    </a>
                                </td>
                                <!--数据库查出的sku值-->
                                <td>
                                    <!--<div th:each="sku_name : ${confirmOrderVO.getSkuName()}">-->
                                        <span th:text="${confirmOrderVO.getSkuName()}"></span><br>
                                    <!--</div>-->
                                    <!--<span>颜色:红色</span><br>-->
                                    <!--<span>内存:256G</span>-->
                                </td>
                                <td class="text-left" >

                                    <div class="option quantity">
                                        <div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;width: 60px">
                                            <input class="form-control" type="text" name="quantity" th:value="${confirmOrderVO.getNums()}" disabled />
                                            <!--<input class="form-control" type="text" name="quantity" th:value="'1'" disabled />-->
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <span th:text="${confirmOrderVO.getUnitPrice()}"></span>
                                    <!--<span th:text="'6588'"></span>-->
                                </td>
                                <td class="text-right">
                                    <span th:text="${confirmOrderVO.getPrice()}"></span>
                                    <!--<span th:text="'6588'"></span>-->

                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td class="text-right" colspan="2" style="border-right: none"></td>
                                <td class="text-right" colspan="4" style="border-left: none">
                                    <strong>发货时间:</strong>
                                    卖家承诺订单在买家付款后, 5天内发货</td>
                            </tr>
                            <tr>
                                <!--<td class="text-right" colspan="3" style="border-right: none"><strong>运费:</strong></td>-->
                                <!--<td class="text-left" colspan="2" style="border-left: none;border-right: none">购买多件商品包邮</td>-->
                                <!--<td class="text-right" colspan="1" style="border-left: none">-->
                                    <!--&lt;!&ndash;<span th:text="'￥'+ ${postPrice}"></span>&ndash;&gt;-->
                                    <!--<span th:text="'￥10'"></span>-->
                                <!--</td>-->
                                <td class="text-right" colspan="3" style="border-right: none"></td>
                                <td class="text-right" colspan="3" style="border-left: none">
                                    <strong>运费:￥</strong>
                                    <span th:text="${#session.getAttribute('postPrice')}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right" colspan="6">
                                    <strong>订单合计:
                                        <span th:text="${#session.getAttribute('orderPrice')}"></span>
                                    </strong>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                        <div class="buttons">
                            <div class="pull-right">
                                <!--<input type="button" class="btn btn-primary" id="button-confirm" value="提交订单">-->
                                <!--<input type="submit" class="btn btn-primary" id="button-confirm" value="提交订单">-->
                                <!--<a th:href="@{/payment}">-->
                                    <input type="submit" class="btn btn-primary" value="提交订单">
                                <!--</a>-->
                                <!-------------------此处跳转会商品详细页面------------------->
                                <a href="javascript:;" type="button" class="btn btn-primary" >取消</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
</div>
</body>
</html>