<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- 基本的页面需求
    ============================================ -->
    <title>确认订单</title>
    <meta charset="utf-8">
    <meta name="keywords" content="boostrap, responsive, html5, css3, jquery, theme, multicolor, parallax, retina, business" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />

    <!-- 移动特定的搜索
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- 网站图标
    ============================================ -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/ico/apple-touch-icon-57-precomposed.png}">
    <link rel="shortcut icon" th:href="@{/ico/favicon.png}">

    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link th:href="@{/css/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/js/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <link th:href="@{/js/owl-carousel/owl.carousel.css}" rel="stylesheet">

    <link th:href="@{/js/owl-carousel/assets/owl.theme.default.min.css}" rel="stylesheet">

    <link th:href="@{/css/themecss/lib.css}" rel="stylesheet">
    <link th:href="@{/js/jquery-ui/jquery-ui.min.css}" rel="stylesheet">

    <!-- 主题 CSS
    ============================================ -->
    <link th:href="@{/css/themecss/so_megamenu.css}" rel="stylesheet">
    <link th:href="@{/css/themecss/so-categories.css}" rel="stylesheet">
    <link th:href="@{/css/themecss/so-listing-tabs.css}" rel="stylesheet">
    <link th:href="@{/css/footer1.css}" rel="stylesheet">
    <link th:href="@{/css/header1.css}" rel="stylesheet">
    <link th:href="@{/css/checkout.css}" rel="stylesheet">
    <link id="color_scheme" th:href="@{/css/theme.css}" rel="stylesheet">

    <link th:href="@{/css/footer1.css}" rel="stylesheet">
    <link th:href="@{/css/header1.css}" rel="stylesheet">

</head>

<body class="res layout-subpage">

<div id="wrapper" class="wrapper-full ">
    <!-- 头部容器 -->
    <th:block th:include="include :: header" />

    <!-- 主要内容容器 -->
    <div class="main-container container">
        <ul class="header-main ">
            <li class="home"><a th:href="@{/}">主页   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
            <li> 订单确认</li>
        </ul>

        <div class="row">
            <!-- 中间部分开始 -->
            <div id="content" class="col-sm-12">
                <h2 class="title">订单确认页面</h2>
                <div class="so-onepagecheckout ">
                    <div id="confirmOrder" class="col-right col-sm-12">

                        <!-- 中间部分表单 -->
                        <!--表单提交地址-->
                        <th:block th:include="checkout-form :: form" />

                    </div>
                </div>
            </div>
            <!-- 中间部分结束 -->

        </div>
    </div>

    <!-- 脚部容器 -->
    <th:block th:include="include :: footer" />


</div>


<script type="text/javascript" th:src="@{/js/jquery-2.2.4.min.js}"></script>
<script type="text/javascript" src="http://cdn.bootstrapmb.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/owl-carousel/owl.carousel.js}"></script>
<script type="text/javascript" th:src="@{/js/themejs/libs.js}"></script>
<script type="text/javascript" th:src="@{/js/unveil/jquery.unveil.js}"></script>
<script type="text/javascript" th:src="@{/js/countdown/jquery.countdown.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datetimepicker/moment.js}"></script>
<script type="text/javascript" th:src="@{/js/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui/jquery-ui.min.js}"></script>


<!-- 主题 files
============================================ -->

<script type="text/javascript" th:src="@{/js/themejs/so_megamenu.js}"></script>
<script type="text/javascript" th:src="@{/js/themejs/addtocart.js}"></script>
<!--<script type="text/javascript" th:src="@{/themejs/application.js}"></script>-->
<script type="text/javascript" th:src="@{/js/zhy/checkForm-ajax.js}"></script>
</body>
</html>