
    <!-- Footer Container -->
    <footer class="footer-container type_footer1">
        <!-- Footer Top Container -->
        <section class="footer-top">
            <div class="container content">
                <div class="">
                    <div class=" collapsed-block ">
                        <div class="module clearfix">
                            <h3 class="modtitle">联系方式</h3>
                            <div class="modcontent">
                                <ul class="contact-address">
                                    <li><p><span class="fa fa-map-marker"></span><span>联系地址 : </span> 四川省成都市朝阳区西部金融中心22L</p></li>
                                    <li><span class="fa fa-envelope-o"></span><span>Email : </span> <a href="#">
                                        sales@yourcompany.com</a></li>
                                    <li><p><span class="fa fa-phone"> </span><span>联系电话 :</span> 0123456789</p></li>
                                </ul>
                            </div>
                            <div class="share-icon">
                                <ul>
                                    <li class="facebook"><a href=""><i class="fa fa-facebook"
                                                                       aria-hidden="true"></i></a></li>
                                    <li class="twitter"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="google"><a href=""><i class="fa fa-google-plus"
                                                                     aria-hidden="true"></i></a></li>
                                    <li class="skype"><a href=""><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class=" box-information">
                        <div class="module clearfix">
                            <h3 class="modtitle">信息</h3>
                            <div class="modcontent">
                                <ul class="menu">
                                    <li><a href="about-us.html">关于我们</a></li>
                                    <li><a href="faq.html">常见问题</a></li>
                                    <li><a href="order-history.html">订单记录</a></li>
                                    <li><a href="order-information.html">下单须知</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class=" box-extras">
                        <div class="module clearfix">
                            <h3 class="modtitle">额外部分</h3>
                            <div class="modcontent">
                                <ul class="menu">
                                    <li><a href="contact.html">联系我们</a></li>
                                    <li><a href="return.html">退/换货</a></li>
                                    <li><a href="sitemap.html">网站导航</a></li>
                                    <li><a href="my-account.html">我的帐户</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="box-account">
                        <div class="module clearfix">
                            <h3 class="modtitle">我的帐户</h3>
                            <div class="modcontent">
                                <ul class="menu">
                                    <li><a href="#">旗下品牌</a></li>
                                    <li><a href="gift-voucher.html">购物劵</a></li>
                                    <li><a href="#">附属公司</a></li>
                                    <li><a href="#">特价专区</a></li>
                                    <li><a href="#" target="_blank">我们的博客</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <!-- /Footer Top Container -->
        <div class="footer-mid">
            <div class=" help">
                <div class=" container">
                    <div class=" row">
                        <div class="footer-mid-left col-sm-6 col-xs-12">
                            <h3>需要帮助？ </h3>
                            <p>支持团队 24/7 AT (844) 555-8386</p>
                        </div>
                        <div class="footer-mid-right col-sm-6 col-xs-12">
                            <div class="btn-sub">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <input class="autosearch-input form-control" type="text" value="" size="50"
                                       autocomplete="off" placeholder="Your Email Address..." name="subscribe">
                                <button type="submit" class="button-search btn btn-primary" name="submit_subscribe">
                                    Subscribe
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //end Footer Container -->

</div>
<!--网页底部-->
<div class="footer-bottom-block ">
    <div class=" container">
        <div class="row">
            <div class="footer-bottom-header">
                <div class="col-xs-12 col-sm-12 col-md-5 download">
                    <h3>商城下载</h3>
                    <a href=""><img src="img/demo/download/app.jpg" alt=""></a>
                    <a href=""><img src="img/demo/download/ggplay.jpg" alt=""></a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 pay">
                    <ul>
                        <li><img src="img/demo/payment/visa.jpg" alt=""></li>
                        <li><img src="img/demo/payment/meastro.jpg" alt=""></li>
                        <li><img src="img/demo/payment/paypal.jpg" alt=""></li>
                        <li><img src="img/demo/payment/union.jpg" alt=""></li>
                        <li><img src="img/demo/payment/cirrus.jpg" alt=""></li>
                        <li><img src="img/demo/payment/ebay.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="text-footer-bot">
                <p>Destino - Premium Multipurpose HTML5/CSS3 Theme - Designed by <a href="#">SmartAddons.Com</a></p>
            </div>
            <div class="back-to-top"><i class="fa fa-angle-up"></i><span> 顶部 </span></div>
        </div>
    </div>
</div>
