
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Basic page needs
    ============================================ -->
    <title th:text="'商品详情【'+${spu.spuName}+'】'">商品详情</title>
    <meta charset="utf-8">
    <meta name="keywords" content="boostrap, responsive, html5, css3, jquery, theme, multicolor, parallax, retina, business" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />

	<!-- Mobile specific metas
	============================================ -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	<!-- Favicon
	============================================ -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="ico/favicon.png">
	

    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="js/owl-carousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="js/owl-carousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="css/themecss/lib.css" rel="stylesheet">
    <link href="js/jquery-ui/jquery-ui.min.css" rel="stylesheet">

	<!-- Theme CSS
	============================================ -->
	<link href="css/themecss/so_megamenu.css" rel="stylesheet">
	<link href="css/themecss/so-categories.css" rel="stylesheet">
	<link href="css/themecss/so-listing-tabs.css" rel="stylesheet">
	<link id="color_scheme" href="css/theme.css" rel="stylesheet">
	<!-- <link href="css/responsive.css" rel="stylesheet"> -->
	<link href="css/footer1.css" rel="stylesheet">
	<link href="css/header1.css" rel="stylesheet">


	<!-- Include Libs & Plugins
	============================================ -->
	
	<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="http://cdn.bootstrapmb.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/owl-carousel/owl.carousel.js"></script>
	<script type="text/javascript" src="js/themejs/libs.js"></script>
	<script type="text/javascript" src="js/unveil/jquery.unveil.js"></script>
	<script type="text/javascript" src="js/countdown/jquery.countdown.min.js"></script>
	<script type="text/javascript" src="js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
	<script type="text/javascript" src="js/datetimepicker/moment.js"></script>
	<script type="text/javascript" src="js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui/jquery-ui.min.js"></script>
	<!-- Placed at the end of the document so the pages load faster -->

	<!-- Theme files
	============================================ -->
	<script type="text/javascript" src="js/themejs/so_megamenu.js"></script>
	<script type="text/javascript" src="js/themejs/addtocart.js"></script>
	<script type="text/javascript" src="js/themejs/application.js"></script>
	

	
</head>

<body class="res layout-subpage banners-effect-7">
	<div id="wrapper" class="wrapper-full ">
		<!--</header>-->
        <th:block th:include="include :: header"></th:block>
		<!-- //Header Container  -->
		<!-- Main Container  -->
		<div class="main-container container">
			<ul class="header-main type-1">
				<li class="home"><a href="/">主页<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
				<li class="home"><a th:href="@{/category(c3=${catalog3.id})}" th:text="${catalog3.name}">手机 &amp; 平板电脑<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
				<li><a href="javascript:;" th:text="${spu.spuName}">三星note7</a></li>
			</ul>

			<div class="row">
				<!--Middle Part Start-->
				<div id="content " class="col-md-12 col-sm-12 type-1">

					<div class="product-view row">
						<div class="left-content-product col-lg-9 col-xs-12">
							<div class="row">
								<div class="content-product-left class-honizol col-md-6 col-sm-12 col-xs-12 ">
									<div class="large-image  ">
										<img itemprop="image" class="product-image-zoom" src="img/demo/shop/product/resize/product-1.jpg" data-zoom-image="img/demo/shop/product/resize/product-1.jpg" title="Bint Beef" alt="Bint Beef">
									</div>
									<div id="thumb-slider" class="owl-theme owl-loaded owl-drag full_slider owl-carousel " data-nav='yes' data-loop="yes" data-margin="10" data-items_xs="2" data-items_sm="3" data-items_md="4">
										<a data-index="0" class="img thumbnail " data-image="img/demo/shop/product/resize/product-1.jpg" title="Bint Beef">
											<img src="img/demo/shop/product/product-1.jpg" title="Bint Beef" alt="Bint Beef">
										</a>
										<a data-index="1" class="img thumbnail " data-image="img/demo/shop/product/resize/product-2.jpg" title="Bint Beef">
											<img src="img/demo/shop/product/product-2.jpg" title="Bint Beef" alt="Bint Beef">
										</a>
										<a data-index="2" class="img thumbnail " data-image="img/demo/shop/product/resize/product-3.jpg" title="Bint Beef">
											<img src="img/demo/shop/product/product-3.jpg" title="Bint Beef" alt="Bint Beef">
										</a>
										<a data-index="3" class="img thumbnail " data-image="img/demo/shop/product/resize/product-4.jpg" title="Bint Beef">
											<img src="img/demo/shop/product/product-4.jpg" title="Bint Beef" alt="Bint Beef">
										</a>
										<a data-index="3" class="img thumbnail " data-image="img/demo/shop/product/resize/product-4.jpg" title="Bint Beef">
											<img src="img/demo/shop/product/product-4.jpg" title="Bint Beef" alt="Bint Beef">
										</a>
									</div>

								</div>

								<div class="content-product-right col-md-6 col-sm-12 col-xs-12">
									<div class="title-product">
										<h1 th:text="${spu.spuName}">三星note7</h1>
									</div>
									<!-- Review -->
									<div class="box-review form-group">
										<div class="ratings">
											<div class="rating-box">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star gray"></i>
											</div>
										</div>

									</div>
									<div class="product-box-desc">
										<ul>
											<li>45 英寸 HD 触摸屏 (1280 x 720)</li>
											<li>Android 4.4 KitKat OS</li>
											<li>1.4 GHz cpu</li>
											<li>2000w像素摄像头</li>
										</ul>
									</div>
									<div class="product-label form-group">
										<div class="stock">
											<span>库存:</span> <span class="instock" id="stock" >充足</span>
											<p class="cy-style-btn-group" data-skuId="skuId" data-value="" data-stocks data-prices>
												<input type="button" th:data-sku="${sku.id}" th:data-stock="${sku.stock}" th:data-price="${sku.price}" th:each="sku:${skus}" th:value="${sku.description}" class="addToCart btn btn-default cy-style-btn"/>

											</p>
										</div>
										<div class="product_page_price price" itemprop="offerDetails" itemscope="" itemtype="http://data-vocabulary.org/Offer">
											<span class="price-new" itemprop="price" id="price">2114.00</span>
											<span class="price-old">2122.00</span>
										</div>

									</div>
									<div id="product">
										<div class="form-group box-info-product">
											<div class="option quantity">
												<div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;">
													<label>数量:  </label>
													<input class="form-control" type="text" name="quantity" id="nums" value="1">
													<input type="hidden" name="product_id" value="50">
													<span class="input-group-addon product_quantity_down"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
													<span class="input-group-addon product_quantity_up"><i class="fa fa-angle-up" aria-hidden="true"></i></span>

												</div>
											</div>
											<div class="info-product-right">
												<div class="cart">
													<input type="button" data-toggle="tooltip" id="addcart" title="" value="加入购物车" data-loading-text="Loading..."  class="btn btn-mega btn-lg" onclick="cart.add('iPhone12', '1')" data-original-title="加入购物车">

                                                </div>
												<div class="add-to-links wish_comp">
													<ul class="blank list-inline">
														<li class="wishlist">
															<a class="icon" data-toggle="tooltip" title="" onclick="wishlist.add('50');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i>
															</a>
														</li>
														<li class="compare">
															<a class="icon" data-toggle="tooltip" title="" onclick="compare.add('50');" data-original-title="Compare this Product"><i class="fa fa-exchange"></i>
															</a>
														</li>
													</ul>
												</div>
											</div>


										</div>

									</div>
									<!-- end box info product -->
									<div class="share">
										<p>分享:</p>
										<div class="share-icon">
											<ul>
												<li class="facebook"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li class="twitter"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li class="google"><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
												<li class="skype"><a href=""><i class="fa fa-skype" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</div>

								</div>					</div>
							<div class="row">
								<div class="col-sx-12">
									<div class="producttab ">
										<div class="tabsslider  col-xs-12">
											<ul class="nav nav-tabs">
												<li class="active"><a data-toggle="tab" href="#tab-1">产品描述</a></li>
												<li class="item_nonactive "><a data-toggle="tab" href="#tab-review">评论 (1)</a></li>
												<li class="item_nonactive"><a data-toggle="tab" href="#tab-4">参数</a></li>
												<li class="item_nonactive"><a data-toggle="tab" href="#tab-5">产品规格</a></li>
											</ul>
											<div class="tab-content col-xs-12">
												<div id="tab-1" class="tab-pane fade active in">
													<p>30英寸的Apple Cinema高清显示屏提供了惊人的2560 x 1600像素的分辨率。专为创意专业人士设计，这种显示提供了更多的空间，更容易访问所需的所有工具和调色板编辑，格式和复合您的工作。将这款显示器与Mac Pro、MacBook Pro或PowerMac G5相结合，你的能力将是无限的。<br>
														<br>
														影院高清的特点是一个有源矩阵液晶显示器，产生无闪烁的图像，提供两倍的亮度，两倍的清晰度和两倍的对比度，一个典型的CRT显示器。与其他平板不同的是，它设计了一个纯粹的数字界面，提供不需要调整的无失真图像。该显示器具有400多万数字像素，特别适合于科学和技术应用，如可视化分子结构或分析地质数据。<br>
														<br>
														提供准确的，辉煌的色彩表现，电影高清提供了多达1670万的颜色横跨广泛的范围，让你看到微妙的差别，颜色之间的柔和柔和的彩色到丰富的宝石色调。宽阔的视角确保了从边缘到边缘的颜色一致。苹果的ColorSync技术允许你创建自定义配置文件，以保持屏幕和印刷品的颜色一致。结果是:你可以自信地在所有颜色要求严格的应用中使用这种显示器。<br>
														<br>
														显示屏采用了新的铝制设计，边框非常薄，提高了视觉精度。每个显示器有两个FireWire 400端口和两个usb2.0端口，使桌面外设的附件，如iSight、iPod、数码相机和静止相机、硬盘、打印机和扫描仪，更容易访问和方便。利用更薄和更轻的LCD的优势，新的显示器支持VESA(视频电子标准协会)安装接口标准。拥有可选影院显示器VESA安装适配器套件的客户可以灵活地将显示器安装在最适合其工作环境的位置。<br>
														<br>
														电影高清的特点是一个单一的电缆设计与优雅的突破USB 2.0，火线400和使用工业标准数字视频接口(DVI)接口的纯数字连接。DVI连接允许直接的纯数字连接。<br>
													</p>


												</div>
												<div id="tab-review" class="tab-pane fade  in">
													<form>
														<div id="review">
															<table class="table table-striped table-bordered">
																<tbody>
																<tr>
																	<td style="width: 50%;"><strong>Super Administrator</strong></td>
																	<td class="text-right">29/07/2015</td>
																</tr>
																<tr>
																	<td colspan="2">
																		<p>Best this product opencart</p>
																		<div class="ratings">
																			<div class="rating-box">
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star gray"></i>
																			</div>
																		</div>
																	</td>
																</tr>
																</tbody>
															</table>
															<div class="text-right"></div>
														</div>
														<h2 id="review-title">发表一条评论</h2>
														<div class="contacts-form">
															<div class="form-group"> <span class="icon icon-user"></span>
																<input type="text" name="name" class="form-control" value="Your Name" onblur="if (this.value == '') {this.value = '你的名字';}" onfocus="if(this.value == '你的名字') {this.value = '';}">
															</div>
															<div class="form-group"> <span class="icon icon-bubbles-2"></span>
																<textarea class="form-control" name="text" onblur="if (this.value == '') {this.value = '评论内容';}" onfocus="if(this.value == '评论内容') {this.value = '';}">Your Review</textarea>
															</div>
															<span style="font-size: 11px;"><span class="text-danger">Note:</span>						HTML is not translated!</span>

															<div class="form-group">
																<b>Rating</b> <span>Bad</span>&nbsp;
																<input type="radio" name="rating" value="1"> &nbsp;
																<input type="radio" name="rating" value="2"> &nbsp;
																<input type="radio" name="rating" value="3"> &nbsp;
																<input type="radio" name="rating" value="4"> &nbsp;
																<input type="radio" name="rating" value="5"> &nbsp;<span>Good</span>

															</div>
															<div class="buttons clearfix"><a id="button-review" class="btn buttonGray">Continue</a></div>
														</div>
													</form>
												</div>
												<div id="tab-4" class="tab-pane fade">
													<a href="#">显示</a>,
													<a href="#">苹果</a>
												</div>
												<div id="tab-5" class="tab-pane fade">
													<p>Lorem ipsum dolor sit amet, consetetur
														sadipscing elitr, sed diam nonumy eirmod
														tempor invidunt ut labore et dolore
														magna aliquyam erat, sed diam voluptua.
														At vero eos et accusam et justo duo
														dolores et ea rebum. Stet clita kasd
														gubergren, no sea takimata sanctus est
														Lorem ipsum dolor sit amet. Lorem ipsum
														dolor sit amet, consetetur sadipscing
														elitr, sed diam nonumy eirmod tempor
														invidunt ut labore et dolore magna aliquyam
														erat, sed diam voluptua. </p>
													<p>At vero eos et accusam et justo duo dolores
														et ea rebum. Stet clita kasd gubergren,
														no sea takimata sanctus est Lorem ipsum
														dolor sit amet. Lorem ipsum dolor sit
														amet, consetetur sadipscing elitr.</p>
													<p>Sed diam nonumy eirmod tempor invidunt
														ut labore et dolore magna aliquyam erat,
														sed diam voluptua. At vero eos et accusam
														et justo duo dolores et ea rebum. Stet
														clita kasd gubergren, no sea takimata
														sanctus est Lorem ipsum dolor sit amet.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<section class="col-lg-3 hidden-sm hidden-md hidden-xs slider-products">
							<div class="module latest-product titleLine">
								<h3 class="modtitle">新品上市</h3>
								<hr>
								<hr>
								<hr>
								<div class="modcontent ">
									<div class="product-latest-item">
										<div class="media">
											<div class="media-left">
												<a href="product.html"><img src="img/demo/shop/product/product-3.jpg" alt="Cisi Chicken" title="Cisi Chicken" class="img-responsive" style="width: 78px; height: 104px;"></a>
											</div>
											<div class="media-body">
												<div class="caption">
													<h4><a href="product.html">Sunt Molup</a></h4>

													<div class="price">
														<span class="price-new">$100.00</span>
													</div>
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
									<div class="product-latest-item">
										<div class="media">
											<div class="media-left">
												<a href="product.html"><img src="img/demo/shop/product/product-1.jpg" alt="Cisi Chicken" title="Cisi Chicken" class="img-responsive" style="width: 78px; height: 104px;"></a>
											</div>
											<div class="media-body">
												<div class="caption">
													<h4><a href="product.html">Et Spare</a></h4>

													<div class="price">
														<span class="price-new">$99.00</span>
													</div>
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star "></i></span>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
									<div class="product-latest-item">
										<div class="media">
											<div class="media-left">
												<a href="product.html"><img src="img/demo/shop/product/product-2.jpg" alt="Cisi Chicken" title="Cisi Chicken" class="img-responsive" style="width: 78px; height: 104px;"></a>
											</div>
											<div class="media-body">
												<div class="caption">
													<h4><a href="product.html">Cisi Chicken</a></h4>

													<div class="price">
														<span class="price-new">$59.00</span>
													</div>
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star"></i></span>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
									<div class="product-latest-item transition">
										<div class="media">
											<div class="media-left">
												<a href="product.html"><img src="img/demo/shop/product/product-4.jpg" alt="Cisi Chicken" title="Cisi Chicken" class="img-responsive" style="width: 78px; height:104px;"></a>
											</div>
											<div class="media-body">
												<div class="caption">
													<h4><a href="product.html">Kevin Labor</a></h4>
													<div class="price">
														<span class="price-new">$245.00</span>
													</div>
													<div class="ratings">
														<div class="rating-box">
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class=""><i class="fa fa-star "></i></span>
															<span class="gray"><i class="fa fa-star"></i></span>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>


								</div>

							</div>
							<div class="module">
								<div class="modcontent clearfix">
									<div class="banners">
										<div>
											<a href="#"><img src="img/demo/cms/left-image-static.png" alt="left-image"></a>
										</div>
									</div>

								</div>
							</div>
						</section>
					</div>
					<!-- Related Products -->
					<div class="related-product ">
						<h3 class="modtitle">Related Products  </h3>
						<hr>
						<hr>
						<hr>
						<div class="related-product-owl">
							<div class=" owl-carousel related-owl " data-nav="yes" data-loop="yes" data-margin="30" data-items_xs="1" data-items_sm="4" data-items_md="5">
								<div class="product-layout">
									<div class="product-item-container">
										<div class="left-block">
											<div class="product-image-container  second_img ">
												<a href="product.html" class="product-img"><img src="img/demo/shop/product/product-1.jpg" alt=""></a>
												<!--Sale Label-->

												<span class="sale">-25%</span>
												<div class="hover">
													<ul>
														<li class="icon-heart"><a class="wishlist" type="button" data-toggle="tooltip" title="" onclick="wishlist.add('42');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
														<li class="icon-exchange"><a class="compare" type="button" data-toggle="tooltip" title="" onclick="compare.add('42');" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></a></li>
														<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.html">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
										<div class="right-block">
											<div class="caption">
												<h4><a href="product.html">Dummy product #01</a></h4>
												<div class="ratings">
													<div class="rating-box">
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class="gray"><i class="fa fa-star "></i></span>
													</div>
												</div>

												<div class="price">
													<span class="price-new">$43.00</span>
													<span class="price-old">$75.00</span>
												</div>
												<div class="description item-desc hidden">
													<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
												</div>
											</div>

											<div class="button-group">
												<button class="addToCart btn btn-default " type="button" data-toggle="tooltip" title="" onclick="cart.add('42', '1');" data-original-title="Add to Cart"> <span class="">Add to Cart</span></button>
											</div>
										</div><!-- right block -->
									</div>
								</div>


								<div class="product-layout">
									<div class="product-item-container">
										<div class="left-block">
											<div class="product-image-container  second_img ">
												<a href="product.html" class="product-img"><img src="img/demo/shop/product/product-3.jpg" alt=""></a>
												<!--Sale Label-->

												<span class="sale">-25%</span>
												<div class="hover">
													<ul>
														<li class="icon-heart"><a class="wishlist" type="button" data-toggle="tooltip" title="" onclick="wishlist.add('42');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
														<li class="icon-exchange"><a class="compare" type="button" data-toggle="tooltip" title="" onclick="compare.add('42');" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></a></li>
														<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.html">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
										<div class="right-block">
											<div class="caption">
												<h4><a href="product.html">Dummy product #02</a></h4>
												<div class="ratings">
													<div class="rating-box">
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class="gray"><i class="fa fa-star "></i></span>
													</div>
												</div>

												<div class="price">
													<span class="price-new">$74.00</span>
													<span class="price-old">$122.00</span>
												</div>
												<div class="description item-desc hidden">
													<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
												</div>
											</div>

											<div class="button-group">
												<button class="addToCart btn btn-default " type="button" data-toggle="tooltip" title="" onclick="cart.add('42', '1');" data-original-title="Add to Cart"> <span class="">Add to Cart</span></button>
											</div>
										</div><!-- right block -->
									</div>
								</div>


								<div class="product-layout">
									<div class="product-item-container">
										<div class="left-block">
											<div class="product-image-container  second_img ">
												<a href="product.html" class="product-img"><img src="img/demo/shop/product/product-2.jpg" alt=""></a>
												<!--Sale Label-->

												<span class="sale">-50%</span>
												<div class="hover">
													<ul>
														<li class="icon-heart"><a class="wishlist" type="button" data-toggle="tooltip" title="" onclick="wishlist.add('42');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
														<li class="icon-exchange"><a class="compare" type="button" data-toggle="tooltip" title="" onclick="compare.add('42');" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></a></li>
														<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.html">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
										<div class="right-block">
											<div class="caption">
												<h4><a href="product.html">Dummy product #03</a></h4>
												<div class="ratings">
													<div class="rating-box">
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class="gray"><i class="fa fa-star "></i></span>
													</div>
												</div>

												<div class="price">
													<span class="price-new">$78.00</span>
													<span class="price-old">$154.00</span>
												</div>
												<div class="description item-desc hidden">
													<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
												</div>
											</div>

											<div class="button-group">
												<button class="addToCart btn btn-default " type="button" data-toggle="tooltip" title="" onclick="cart.add('42', '1');" data-original-title="Add to Cart"> <span class="">Add to Cart</span></button>
											</div>
										</div><!-- right block -->
									</div>
								</div>


								<div class="product-layout">
									<div class="product-item-container">
										<div class="left-block">
											<div class="product-image-container  second_img ">
												<a href="product.html" class="product-img"><img src="img/demo/shop/product/product-5.jpg" alt=""></a>
												<!--Sale Label-->

												<div class="hover">
													<ul>
														<li class="icon-heart"><a class="wishlist" type="button" data-toggle="tooltip" title="" onclick="wishlist.add('42');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
														<li class="icon-exchange"><a class="compare" type="button" data-toggle="tooltip" title="" onclick="compare.add('42');" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></a></li>
														<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.html">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
										<div class="right-block">
											<div class="caption">
												<h4><a href="product.html">Dummy product #04</a></h4>
												<div class="ratings">
													<div class="rating-box">
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class="gray"><i class="fa fa-star "></i></span>
													</div>
												</div>

												<div class="price">
													<span class="price-new">$78.00</span>

												</div>
												<div class="description item-desc hidden">
													<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
												</div>
											</div>

											<div class="button-group">
												<button class="addToCart btn btn-default " type="button" data-toggle="tooltip" title="" onclick="cart.add('42', '1');" data-original-title="Add to Cart"> <span class="">Add to Cart</span></button>
											</div>
										</div><!-- right block -->
									</div>
								</div>

								<div class="product-layout">
									<div class="product-item-container">
										<div class="left-block">
											<div class="product-image-container  second_img ">
												<a href="product.html" class="product-img"><img src="img/demo/shop/product/product-4.jpg" alt=""></a>
												<!--Sale Label-->

												<div class="hover">
													<ul>
														<li class="icon-heart"><a class="wishlist" type="button" data-toggle="tooltip" title="" onclick="wishlist.add('42');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
														<li class="icon-exchange"><a class="compare" type="button" data-toggle="tooltip" title="" onclick="compare.add('42');" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></a></li>
														<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.html">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
										<div class="right-block">
											<div class="caption">
												<h4><a href="product.html">Dummy product #05</a></h4>
												<div class="ratings">
													<div class="rating-box">
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class="gray"><i class="fa fa-star "></i></span>
													</div>
												</div>

												<div class="price">
													<span class="price-new">$85.00</span>

												</div>
												<div class="description item-desc hidden">
													<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
												</div>
											</div>

											<div class="button-group">
												<button class="addToCart btn btn-default " type="button" data-toggle="tooltip" title="" onclick="cart.add('42', '1');" data-original-title="Add to Cart"> <span class="">Add to Cart</span></button>
											</div>
										</div><!-- right block -->
									</div>
								</div>


								<div class="product-layout">
									<div class="product-item-container">
										<div class="left-block">
											<div class="product-image-container  second_img ">
												<a href="product.html" class="product-img"><img src="img/demo/shop/product/product-7.jpg" alt=""></a>
												<!--Sale Label-->

												<div class="hover">
													<ul>
														<li class="icon-heart"><a class="wishlist" type="button" data-toggle="tooltip" title="" onclick="wishlist.add('42');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
														<li class="icon-exchange"><a class="compare" type="button" data-toggle="tooltip" title="" onclick="compare.add('42');" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></a></li>
														<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.html">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
										<div class="right-block">
											<div class="caption">
												<h4><a href="product.html">Dummy product #06</a></h4>
												<div class="ratings">
													<div class="rating-box">
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class="gray"><i class="fa fa-star "></i></span>
													</div>
												</div>

												<div class="price">
													<span class="price-new">$68.00</span>

												</div>
												<div class="description item-desc hidden">
													<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
												</div>
											</div>

											<div class="button-group">
												<button class="addToCart btn btn-default " type="button" data-toggle="tooltip" title="" onclick="cart.add('42', '1');" data-original-title="Add to Cart"> <span class="">Add to Cart</span></button>
											</div>
										</div><!-- right block -->
									</div>
								</div>


								<div class="product-layout">
									<div class="product-item-container">
										<div class="left-block">
											<div class="product-image-container  second_img ">
												<a href="product.html" class="product-img"><img src="img/demo/shop/product/product-6.jpg" alt=""></a>
												<!--Sale Label-->
												<span class="new">New</span>

												<div class="hover">
													<ul>
														<li class="icon-heart"><a class="wishlist" type="button" data-toggle="tooltip" title="" onclick="wishlist.add('42');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
														<li class="icon-exchange"><a class="compare" type="button" data-toggle="tooltip" title="" onclick="compare.add('42');" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></a></li>
														<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.html">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
										<div class="right-block">
											<div class="caption">
												<h4><a href="product.html">Dummy product #07</a></h4>
												<div class="ratings">
													<div class="rating-box">
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class="gray"><i class="fa fa-star "></i></span>
													</div>
												</div>

												<div class="price">
													<span class="price-new">$58.00</span>

												</div>
												<div class="description item-desc hidden">
													<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
												</div>
											</div>

											<div class="button-group">
												<button class="addToCart btn btn-default " type="button" data-toggle="tooltip" title="" onclick="cart.add('42', '1');" data-original-title="Add to Cart"> <span class="">Add to Cart</span></button>
											</div>
										</div><!-- right block -->
									</div>
								</div>


								<div class="product-layout">
									<div class="product-item-container">
										<div class="left-block">
											<div class="product-image-container  second_img ">
												<a href="product.html" class="product-img"><img src="img/demo/shop/product/product-6.jpg" alt=""></a>
												<!--Sale Label-->

												<div class="hover">
													<ul>
														<li class="icon-heart"><a class="wishlist" type="button" data-toggle="tooltip" title="" onclick="wishlist.add('42');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></a></li>
														<li class="icon-exchange"><a class="compare" type="button" data-toggle="tooltip" title="" onclick="compare.add('42');" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></a></li>
														<li class="icon-search"><a class="quickview iframe-link " data-fancybox-type="iframe" href="quickview.html">  <i class="fa fa-search" aria-hidden="true"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
										<div class="right-block">
											<div class="caption">
												<h4><a href="product.html">Dummy product #08</a></h4>
												<div class="ratings">
													<div class="rating-box">
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class=""><i class="fa fa-star "></i></span>
														<span class="gray"><i class="fa fa-star "></i></span>
													</div>
												</div>

												<div class="price">
													<span class="price-new">$74.00</span>

												</div>
												<div class="description item-desc hidden">
													<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est . </p>
												</div>
											</div>

											<div class="button-group">
												<button class="addToCart btn btn-default " type="button" data-toggle="tooltip" title="" onclick="cart.add('42', '1');" data-original-title="Add to Cart"> <span class="">Add to Cart</span></button>
											</div>
										</div><!-- right block -->
									</div>
								</div>

							</div>
						</div>
					</div>

					<!-- end Related  Products-->


				</div>


			</div>
			<!--Middle Part End-->
		</div>
	<!-- //Main Container -->
<!-- End Social widgets -->
	</div>
	<th:block th:include="include :: footer"></th:block>

	<style type="text/css">
		.cy-style-btn{
			margin-right: 5px;
		}
		.cy-style-btn-group{
			line-height: 50px;word-spacing: normal;
		}
	</style>
    <script type="text/javascript">
        (function () {
            $('#addcart').on('click',function () {
                let id = $("[data-skuId='skuId']").attr('data-value');
                let nums = $('#nums').val();
                $.ajax({
                    url:'/addCart',
                    method:'post',
                    data:{
                        skuId:id,
                        nums:nums

                    },
                    success:function (result) {
                        if (result == 'failed') {

                            window.alert("请先登录！");

                            window.location = '/login';
                        }
                    }
                });
            })
        })();
    </script>
    <script type="text/javascript">
        (function () {

            $("[data-sku]").on('click', function (e) {
                let bt = $(e.target);
                let skuid = bt.attr('data-sku');
                let price = bt.attr('data-price');
                let stock = bt.attr('data-stock');
                // sku按钮父级标签属性保存skuid
                $("[data-skuId='skuId']").attr('data-value', skuid);
                $("[data-skuId='skuId']").attr('data-prices', price);
                $("[data-skuId='skuId']").attr('data-stocks', stock);
                $('#price').text(price);
                $('#stock').text(stock);
                let id = $("[data-skuId='skuId']").attr('data-value');
            });
            let firstbt = $("[data-sku]")[0];
            let $firstbt = $(firstbt);

            $firstbt.trigger('click');



        })();
    </script>
</body>
</html>