<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <title>主页</title>
</head>
<body>
主页
<ul th:each="c1 : ${catalogs}">
    <li>
        <a href="javaScript:;" th:text="${c1.name}"></a>
            <ul th:each="c2 : ${c1.children}">
                <li>
                    <a href="javaScript:;" th:text="${c2.name}"></a>
                    <ul th:each="c3 : ${c2.children}">
                        <li><a th:href="@{/goods(id=${c3.id})}" th:text="${c3.name}"></a></li>
                    </ul>
                </li>
            </ul>
    </li>
</ul>

<script type="text/javascript" src="/lib/jquery/jquery.js"/>
<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"/>
</body>
</html>