<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>

		<!-- Basic page needs
    ============================================ -->
		<title>Destino - Advanced & High Customizable eCommerce HTML5/CSS3 Theme</title>
		<meta charset="utf-8">
		<meta name="keywords" content="boostrap, responsive, html5, css3, jquery, theme, multicolor, parallax, retina, business" />
		<meta name="author" content="Magentech">
		<meta name="robots" content="index, follow" />

		<!-- Mobile specific metas
	============================================ -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Favicon
	============================================ -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="ico/favicon.png">

		<!-- Libs CSS
    ============================================ -->
		<link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
		<link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
		<link href="css/themecss/lib.css" rel="stylesheet">
		<link href="js/jquery-ui/jquery-ui.min.css" rel="stylesheet">

		<!-- Theme CSS
	============================================ -->
		<link href="css/themecss/so_megamenu.css" rel="stylesheet">
		<link href="css/themecss/so-categories.css" rel="stylesheet">
		<link href="css/themecss/so-listing-tabs.css" rel="stylesheet">
		<link href="css/footer1.css" rel="stylesheet">
		<link href="css/header1.css" rel="stylesheet">
		<link id="color_scheme" href="css/theme.css" rel="stylesheet">

		<!-- <link href="css/responsive.css" rel="stylesheet"> -->



	</head>

	<body class="common-home res layout-subpage">
		<div id="wrapper" class="wrapper-full ">
			<!-- Header Container  -->
			<!--</header>-->
			<th:block th:include="include :: header"></th:block>
			<!-- //Header Container  -->
			<!-- Main Container  -->
			<div class="main-container container">
				<ul class="header-main ">
					<li class="home"><a href="#">主页 </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
					<li>订单信息</li>
				</ul>

				<div class="row">
					<!--Middle Part Start-->
					<div id="content" class="col-sm-9">
						<h2 class="title">订单信息</h2>

						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<td colspan="2" class="text-left">订单明细</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="width: 50%;" class="text-left"> <b>订单 ID:</b>
										<span th:text="${order.oid}"></span>
										<br>
										<b>添加日期:</b>
										<span th:text="${#dates.format(order.time, 'yyyy-MM-dd HH:mm:ss')}"></span>
									</td>
									<td style="width: 50%;" class="text-left">
										<b>付款方式:</b>
										<span th:text="${order.payway}"></span>
										<br>
										<b>付款时间:</b>
										<span th:text="${#dates.format(order.ptime, 'yyyy-MM-dd HH:mm:ss')}"></span>
									</td>
								</tr>
							</tbody>
						</table>
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<td style="width: 50%; vertical-align: top;" class="text-left">付款地址</td>
									<td style="width: 50%; vertical-align: top;" class="text-left">送货地址</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-left">
										<b>收货人：</b><span th:text="${address.consigneeName}"></span>
										<br>
										<b>省：</b><span th:text="${address.province}"></span>
										<br>
										<b>市：</b><span th:text="${address.city}"></span>
										<br>
										<b>详细地址：</b><span th:text="${address.district}"></span>
										<span th:text="${address.specificAddress}"></span>
									</td>
									<td class="text-left">
										<b>收货人：</b><span th:text="${address.consigneeName}"></span>
										<br>
										<b>省：</b><span th:text="${address.province}"></span>
										<br>
										<b>市：</b><span th:text="${address.city}"></span>
										<br>
										<b>详细地址：</b><span th:text="${address.district}"></span>
										<span th:text="${address.specificAddress}"></span>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<td class="text-left">商品名称</td>
										<td class="text-left">款式</td>
										<td class="text-right">数量</td>
										<td class="text-right">价格</td>
										<td class="text-right">总价</td>
										<td style="width: 20px;"></td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-left" th:text="${order.goodsName}"></td>
										<td class="text-left" th:text="${order.des}"></td>
										<td class="text-right" th:text="${order.nums}"></td>
										<td class="text-right" th:text="${order.price}"></td>
										<td class="text-right" th:text="${order.price}"></td>
										<td style="white-space: nowrap;" class="text-right">
											<a class="btn btn-primary" title="" data-toggle="tooltip"
											 href="#" data-original-title="再次购买"><i class="fa fa-shopping-cart"></i></a>
											<a class="btn btn-danger" title="退货/退款" data-toggle="tooltip" th:href="@{/return(nums = ${order.nums},skuid = ${order.sid},orderid = ${order.oid})}" data-original-title="Return"><i
												 class="fa fa-reply"></i></a>
										</td>
									</tr>

								</tbody>
								<tfoot>
									<tr>
										<td colspan="3"></td>
										<td class="text-right"><b>运费</b>
										</td>
										<td class="text-right" th:text="${order.postPrice}+'￥'"></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="3"></td>
										<td class="text-right"><b>折扣</b>
										</td>
										<td class="text-right" th:text="${#numbers.formatDecimal(order.discounts,1,2)}+'￥'"></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="3"></td>
										<td class="text-right"><b>总价</b>
										</td>
										<td class="text-right" th:text="${order.totle}+'￥'"></td>
										<td></td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					<!--Middle Part End-->
					<!--Right Part Start -->
					<aside class="col-sm-3 hidden-xs" id="column-right">
						<h2 class="subtitle">账户</h2>
						<div class="list-group">
							<ul class="list-item">
								<li><a href="login.html">登录</a>
								</li>
								<li><a href="register.html">帐户</a>
								</li>
								<li><a href="#">密码</a>
								</li>
								<li><a href="#">我的账号</a>
								</li>
								<li><a href="#">我的地址</a>
								</li>
								<li><a href="wishlist.html">愿望单</a>
								</li>
								<li><a th:href="@{/order-history}">历史订单</a>
								</li>
								<li><a href="#">下载</a>
								</li>
								<li><a href="#">Reward Points</a>
								</li>
								<li><a href="#">返回</a>
								</li>
								<li><a href="#">个人报告</a>
								</li>
								<li><a href="#">新闻快讯</a>
								</li>
								<li><a href="#">分期信贷</a>
								</li>
							</ul>
						</div>
					</aside>
					<!--Right Part End -->
				</div>
			</div>
			<!-- //Main Container -->
			<th:block th:include="include :: footer"></th:block>
		</div>

		<!-- Include Libs & Plugins
	============================================ -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="http://cdn.bootstrapmb.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/owl-carousel/owl.carousel.js"></script>
		<script type="text/javascript" src="js/themejs/libs.js"></script>
		<script type="text/javascript" src="js/unveil/jquery.unveil.js"></script>
		<script type="text/javascript" src="js/countdown/jquery.countdown.min.js"></script>
		<script type="text/javascript" src="js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
		<script type="text/javascript" src="js/datetimepicker/moment.js"></script>
		<script type="text/javascript" src="js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui/jquery-ui.min.js"></script>


		<!-- Theme files
	============================================ -->


		<script type="text/javascript" src="js/themejs/so_megamenu.js"></script>
		<script type="text/javascript" src="js/themejs/addtocart.js"></script>
		<script type="text/javascript" src="js/themejs/application.js"></script>



	</body>
</html>
