<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>

		<!-- Basic page needs
    ============================================ -->
		<title>cy-shop 历史订单</title>
		<meta charset="utf-8">
		<meta name="keywords" content="boostrap, responsive, html5, css3, jquery, theme, multicolor, parallax, retina, business" />
		<meta name="author" content="Magentech">
		<meta name="robots" content="index, follow" />

		<!-- Mobile specific metas
	============================================ -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Favicon
	============================================ -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="ico/favicon.png">

		<!-- Libs CSS
    ============================================ -->
		<link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
		<link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
		<link href="css/themecss/lib.css" rel="stylesheet">
		<link href="js/jquery-ui/jquery-ui.min.css" rel="stylesheet">

		<!-- Theme CSS
	============================================ -->
		<link href="css/themecss/so_megamenu.css" rel="stylesheet">
		<link href="css/themecss/so-categories.css" rel="stylesheet">
		<link href="css/themecss/so-listing-tabs.css" rel="stylesheet">
		<link href="css/footer1.css" rel="stylesheet">
		<link href="css/header1.css" rel="stylesheet">
		<link id="color_scheme" href="css/theme.css" rel="stylesheet">

		<!-- <link href="css/responsive.css" rel="stylesheet"> -->

	</head>

	<body class="res layout-subpage">
		<div id="wrapper" class="wrapper-full ">
			<!-- Header Container  -->
			<!--</header>-->
			<th:block th:include="include :: header"></th:block>
			<!-- //Header Container  -->
			<!-- //Header Container  -->
			<!-- Main Container  -->
			<div class="main-container container">
				<ul class="header-main ">
					<li class="home"><a href="#">主页 </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
					<li> 历史订单</li>
				</ul>

				<div class="row">
					<!--订单列表 Start-->
					<div id="content" class="col-sm-9">
						<h2 class="title">历史订单</h2>
						<div class="table-responsive">
							<table class="table table-bordered table-hover" id="dataTable">
								<thead>
									<tr>
										<td class="text-center">商品图片</td>
										<td class="text-left">商品名称</td>
										<td class="text-center">订单编号</td>
										<td class="text-center">数量</td>
										<td class="text-center">订单状态</td>
										<td class="text-center">生成时间</td>
										<td class="text-right">总价</td>
										<td></td>
									</tr>
								</thead>
								<tbody>
									<tr th:each="order:${orders}">
										<td class="text-center">
											<a href="product.html"><img width="85" class="img-thumbnail" title="Aspire Ultrabook Laptop" alt="Aspire Ultrabook Laptop"
												 th:src="@{'img/sku-img/'+${order.url}}" src="img/demo/shop/product/B8.jpg">
											</a>
										</td>
										<td class="text-left"><a href="product.html" th:text="${order.goodsName}"></a>
										</td>
										<td class="text-center" th:text="${order.oid}"></td>
										<td class="text-center"  th:text="${order.status}"></td>
										<td class="text-center" th:text="${order.status}"></td>
										<td class="text-center" th:text="${#dates.format(order.time, 'yyyy-MM-dd HH:mm:ss')}"></td>
										<td class="text-right" th:text="${order.payment}"></td>
										<td class="text-center"><a class="btn btn-info" title="" data-toggle="tooltip" th:href="@{order-information(oid=${order.oid},sid=${order.sid})}" href="404.html"
											 data-original-title="详情"><i class="fa fa-eye"></i></a>
										</td>
									</tr>
								</tbody>
							</table>
							<nav aria-label="" style="text-align:center" th:if="${count gt 1}">
								<ul class="pagination">
									<!--<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>-->
									<li class="" th:each="i:${#numbers.sequence(1,count)}"><a th:href="@{/order-history(limit=${i})}" th:text="${i}"> <span class="sr-only">(current)</span></a></li>
								</ul>
							</nav>
						</div>

					</div>
					<!--订单列表 End-->
					<!--Right Part Start -->
					<aside class="col-sm-3 hidden-xs" id="column-right">
						<h2 class="subtitle">账户</h2>
						<div class="list-group">
							<ul class="list-item">
								<li><a href="login.html">登录</a>
								</li>
								<li><a href="register.html">帐户</a>
								</li>
								<li><a href="#">密码</a>
								</li>
								<li><a href="#">我的账号</a>
								</li>
								<li><a href="#">我的地址</a>
								</li>
								<li><a href="wishlist.html">愿望单</a>
								</li>
								<li><a th:href="@{/}">历史订单</a>
								</li>
								<li><a href="#">下载</a>
								</li>
								<li><a href="#">Reward Points</a>
								</li>
								<li><a href="#">返回</a>
								</li>
								<li><a href="#">个人报告</a>
								</li>
								<li><a href="#">新闻快讯</a>
								</li>
								<li><a href="#">分期信贷</a>
								</li>
							</ul>
						</div>
					</aside>
					<!--Right Part End -->
				</div>
			</div>
			<!-- //Main Container -->


			<th:block th:include="include :: footer"></th:block> <!-- End Social widgets -->
			<!-- Include Libs & Plugins
	============================================ -->
			<!-- Placed at the end of the document so the pages load faster -->
			<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
			<script type="text/javascript" src="http://cdn.bootstrapmb.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="js/owl-carousel/owl.carousel.js"></script>
			<script type="text/javascript" src="js/themejs/libs.js"></script>
			<script type="text/javascript" src="js/unveil/jquery.unveil.js"></script>
			<script type="text/javascript" src="js/countdown/jquery.countdown.min.js"></script>
			<script type="text/javascript" src="js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
			<script type="text/javascript" src="js/datetimepicker/moment.js"></script>
			<script type="text/javascript" src="js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
			<script type="text/javascript" src="js/jquery-ui/jquery-ui.min.js"></script>


			<!-- Theme files
	============================================ -->


			<script type="text/javascript" src="js/themejs/so_megamenu.js"></script>
			<script type="text/javascript" src="js/themejs/addtocart.js"></script>
			<script type="text/javascript" src="js/themejs/application.js"></script>

			<script type="text/javascript">

			</script>

	</body>
</html>
