<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单支付页面</title>
    <meta charset="utf-8">
    <meta name="keywords" content="boostrap, responsive, html5, css3, jquery, theme, multicolor, parallax, retina, business" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/ico/apple-touch-icon-57-precomposed.png}">
    <link rel="shortcut icon" th:href="@{/ico/favicon.png}">

    <link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link th:href="@{/css/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/js/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <link th:href="@{/js/owl-carousel/owl.carousel.css}" rel="stylesheet">

    <link th:href="@{/js/owl-carousel/assets/owl.theme.default.min.css}" rel="stylesheet">

    <link th:href="@{/css/themecss/lib.css}" rel="stylesheet">
    <link th:href="@{/js/jquery-ui/jquery-ui.min.css}" rel="stylesheet">

    <link th:href="@{/css/themecss/so_megamenu.css}" rel="stylesheet">
    <link th:href="@{/css/themecss/so-categories.css}" rel="stylesheet">
    <link th:href="@{/css/themecss/so-listing-tabs.css}" rel="stylesheet">
    <link th:href="@{/css/footer1.css}" rel="stylesheet">
    <link th:href="@{/css/header1.css}" rel="stylesheet">
    <link th:href="@{/css/checkout.css}" rel="stylesheet">
    <link id="color_scheme" th:href="@{/css/theme.css}" rel="stylesheet">

    <link th:href="@{/css/footer1.css}" rel="stylesheet">
    <link th:href="@{/css/header1.css}" rel="stylesheet">
</head>
<body class="res layout-subpage">
<div id="wrapper" class="wrapper-full ">
    <!-- 头部容器  -->
    <th:block th:include="include :: header" />

    <!-- 主要内容容器  -->
    <div class="main-container container">
        <ul class="header-main ">
            <li class="home"><a th:href="@{/}">主页   </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
            <li> 支付页面</li>
        </ul>

        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h2 class="title">支付页面</h2>
                <div class="so-onepagecheckout ">
                    <div class="col-right col-sm-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><i class="fa fa-credit-card"></i> 我的收银台</h4>
                            </div>

                            <ul id="myTab" class="nav nav-tabs">
                                <li id="wxPayment">
                                    <a href="#home" data-toggle="tab">
                                        微信支付
                                    </a>
                                </li>
                                <li id="zfbPayment"><a href="#ios" data-toggle="tab">支付宝支付</a></li>
                                <li class="dropdown">
                                    <a href="#" id="myTabDrop1" class="dropdown-toggle"
                                       data-toggle="dropdown">其他支付方式
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                        <li><a href="#jmeter" tabindex="-1" data-toggle="tab">余额支付</a></li>
                                        <li><a href="#ejb" tabindex="-1" data-toggle="tab">网银支付</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content" th:data-payment="${#session.getAttribute('paymentId')}">
                            <!--<div id="myTabContent" class="tab-content" th:data-payment="'1'">-->

                                <div class="tab-pane fade" id="home">
                                    <div style="margin-left: 300px">
                                        <!--<a href="/views/frontOrderItem?method=updateOrderStatus"><img th:src="@{/img/xiaozhupeiqi.png}"></a>-->
                                        <a th:href="@{/confirmPayment}"><img th:src="@{/img/xiaozhupeiqi.png}"></a>
                                        <br>
                                        <label class="control-label">
                                            &nbsp;&nbsp;&nbsp;<input type="checkbox" checked="checked" value="1" required="" class="validate required"  name="confirm agree">
                                            <span>我已阅读及同意<a class="agree" href="#"><b>《微信支付条款》</b></a></span> </label>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="ios">
                                    <div style="margin-left: 300px">
                                        <!--<a href="/views/frontOrderItem?method=updateOrderStatus"><img th:src="@{/img/xiaozhupeiqi.png}"></a>-->
                                        <a th:href="@{/confirmPayment}"><img th:src="@{/img/xiaozhupeiqi.png}"></a>
                                        <br>
                                        <label class="control-label">
                                            <input type="checkbox" checked="checked" value="1" required="" class="validate required"  name="confirm agree">
                                            <span>我已阅读及同意<a class="agree" href="#"><b>《支付宝支付条款》</b></a></span> </label>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="jmeter">
                                    <div style="margin-left: 300px">
                                        <div style="margin: 115px 0">暂不支持此功能，请联系管理员购买</div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="ejb">
                                    <div style="margin-left: 300px">
                                        <div style="margin: 115px 0">暂不支持此功能，请联系管理员购买</div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- 脚部容器 -->
    <th:block th:include="include :: footer" />
</div>

<script type="text/javascript" th:src="@{/js/jquery-2.2.4.min.js}"></script>
<script type="text/javascript" src="http://cdn.bootstrapmb.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/owl-carousel/owl.carousel.js}"></script>
<script type="text/javascript" th:src="@{/js/themejs/libs.js}"></script>
<script type="text/javascript" th:src="@{/js/unveil/jquery.unveil.js}"></script>
<script type="text/javascript" th:src="@{/js/countdown/jquery.countdown.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js}"></script>
<script type="text/javascript" th:src="@{/js/datetimepicker/moment.js}"></script>
<script type="text/javascript" th:src="@{/js/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui/jquery-ui.min.js}"></script>

<script type="text/javascript" th:src="@{/js/themejs/so_megamenu.js}"></script>
<script type="text/javascript" th:src="@{/js/themejs/addtocart.js}"></script>
<script type="text/javascript" th:src="@{/themejs/application.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery-validation/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/js/zhy/paymentVerify.js}"></script>
</body>
</html>