<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>注册页面</title>

		<link rel="stylesheet" th:href="@{/css/registerred/registerred.css}">
		<link rel="stylesheet" th:href="@{/css/bootstrap/css/bootstrap.css}">
		<link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}">
	</head>

	<body>
		<!-- 总容器 -->
		<div class="container alert alert-light total">
			<!-- 注册容器 -->
			<div class="container alert alert-primary  registered_box" style="height: 550px;width: 900px;margin-top: 10%;">
				<!-- 内容器 -->
				<div class="alert alert-light registered_box_in" style="width: 100%;height: 100%;text-align: center;margin: 60px;padding: 20px 80px;z-index: 1;">
					<form id="form-validate" enctype="multipart/form-data" method="post">
						<!-- 设置账号标题 -->
						<div class="row">
							<span>
								登录账号:
							</span>
						</div>
						<div class="row mb-3">
							<div class="form-group">
								<input  type="text" class="form-control" name="account" id="account" aria-describedby="emailHelp"
								 placeholder=" 设置登录账号">
								<!--放错误反馈-->
								<!--<div class="invalid-feedback" id="account-feedback"><span></span></div>-->
								<div id="account-v"><span style="color: red"></span></div>
							</div>
						</div>
						<!-- 设置密码标题 -->
						<div class="row">
							<span>
								登录密码:
							</span>
						</div>
						<!-- 密码 -->
						<div class="row mb-3">
							<div class="form-group">
								<input type="password" class="form-control" name="password" id="password" placeholder="设置登录密码">
								<div id="password-v"><span style="color: red"></span></div>
							</div>
						</div>
						<div class="row">
							<span>
								再次确认密码:
							</span>
						</div>
						<div class="row mb-3">
							<div class="form-group">
								<input type="password" class="form-control" name="verifvPassword" id="verifvPassword" placeholder="再次确认密码">
								<div id="verifvPassword-v"><span style="color: red"></span></div>
							</div>
						</div>
						<!-- 手机号 -->
						<div class="row">
							<span>
								昵称:
							</span>
						</div>
						<div class="row mb-3">
							<div class="form-group">
								<input type="text" class="form-control" name="name" id="name" placeholder="您的姓名">
								<div id="name-v"><span style="color: red"></span></div>
							</div>
						</div>
						<div class="row">
							<span>
								手机号码:
							</span>
						</div>
						<div class="row mb-3">
							<div class="form-group">
								<input type="text" class="form-control" name="phone" id="phone" placeholder="设置手机号">
								<div id="phone-v"><span style="color: red"></span></div>
							</div>
						</div>
						<!-- 提交按钮	 -->
						<div class="row mt-4">
							<div class="col-3 form-group">
								<button id="registeredButton" name="registeredButton" type="button" class="btn btn-primary btn-block">提交</button>
							</div>
						</div>
					</form>
				</div>
				

			</div>
		</div>

	<script type="text/javascript" th:src="@{/js/jquery-2.2.4.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/zhy/register-ajax.js}"></script>
	</body>
</html>
