<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>商品退/换货-雏鹰商城</title>
    <meta charset="utf-8">
    <meta name="keywords"
          content="boostrap, responsive, html5, css3, jquery, theme, multicolor, parallax, retina, business"/>
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="ico/favicon.png">

    <link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="css/themecss/lib.css" rel="stylesheet">
    <link href="js/jquery-ui/jquery-ui.min.css" rel="stylesheet">

    <link href="css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="css/themecss/so-categories.css" rel="stylesheet">
    <link href="css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="css/footer1.css" rel="stylesheet">
    <link href="css/header1.css" rel="stylesheet">
    <link id="color_scheme" href="css/theme.css" rel="stylesheet">

    <!--个人css链接-->
    <link rel="stylesheet" href="css/cart/return.css">

</head>

<body class="res layout-subpage">
<div id="wrapper" class="wrapper-full">
    <!--头部引入-->
    <th:block th:include="include :: header" />
    <!--页面内容开始-->
    <div class="main-container container">
        <ul class="header-main ">
            <li class="home"><a href="#">主页 </a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
            <li> 退/换货</li>
        </ul>
        <!--商品退/换货内容-->
        <div class="row">
            <div id="content" class="col-sm-9">
                <h2 class="title">商品退/换货</h2>
                <p>请按照要求详细填写下列表格，以便及时处理您的退/换货要求。</p>

                <form class="form-horizontal">
                    <fieldset>
                        <legend>退/换货单信息</legend>
                        <div id="form-div" class="table-responsive form-group">
                            <table class="table table-bordered" width="900px">
                                <thead>
                                <tr>
                                    <td class="text-center">商品信息</td>
                                    <td class="text-center">包装清单</td>
                                    <td class="text-center">赠送清单</td>
                                    <td class="text-center">商品单价</td>
                                    <td class="text-center">购买数量</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <!--商品信息-->
                                    <td id="order" class="text-left" th:data-orderid="${order.oid}" width="350px" th:data-skuid="${order.sid}">
                                        <!--商品图片-->
                                        <a href="product.html" id="tbody-tr-td-a">
                                            <img width="70px" alt="Aspire Ultrabook Laptop"
                                                 title="Aspire Ultrabook Laptop" th:src="'img/sku-img/' + ${skuURL}" class="img-thumbnail"/>
                                        </a>
                                        <!--商品规格信息-->
                                        <div id="tbody-tr-td-div">
                                            <span id="tbody-tr-td-div-span">雏鹰精选</span>
                                            <a href="product.html" th:text="${skuMessage.name}">苹果ipone13</a>
                                            <br>
                                            <a href="product.html" th:text="${skuMessage.description}">内存1：28G，颜色：太空银</a>
                                        </div>
                                    </td>

                                    <!--包装清单-->
                                    <td class="text-center" id="tbody-tr-td-1" th:text="${skuMessage.name} + 'x1'">这里面写商品名称×几份</td>

                                    <!--赠送清单-->
                                    <td class="text-center" width="160px" id="tbody-tr-td-3">
                                        -
                                    </td>

                                    <!--商品单价-->
                                    <td data-js="price" class="text-center" id="tbody-tr-td-2" th:text="${skuMessage.price}">￥120.00</td>

                                    <!--购买数量-->
                                    <td class="text-center" id="tbody-tr-td-4" th:text="${order.nums}">
                                       1
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <span id="span-1">* 温馨提示：</span>
                            <span>本次售后服务将由 <span id="span-2">雏鹰商城</span> 为您提供 ，根据您填写的信息可能会享受 <a style="color: blue" href="https://help.jd.com/user/issue/326-1562.html">急速售后</a> 的尊贵售后服务，具体信息将在提交售后服务单成功以后展示，感谢您的支持与信任！</span>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>商品退/换货信息描述</legend>
                        <div class="form-group required">
                            <label for="select-1" class="col-sm-2 control-label">服务类型：</label>
                            <select data-js="option" class="form-control" id="select-1" style="width: 100px">
                                <option selected>换货</option>
                                <option>退货并退款</option>
                            </select>
                        </div>

                        <div class="form-group required">
                            <label for="select-1" class="col-sm-2 control-label">提交数量：</label>
                            <div>
                                <button id="button-1" type="button" onclick="minusNumber(this)"><span id="span-3">-</span></button>
                                <input class="" type="text" id="input-1" value="1" data-js="number">
                                <button id="button-2" type="button" onclick="addNumber(this)"><span id="span-4">+</span></button>
                            </div>
                        </div>

                        <div class="form-group required">
                            <label for="select-2" class="col-sm-2 control-label">提交原因：</label>
                            <select data-js="options" class="form-control" id="select-2" style="width: 300px">
                                <option selected>请选择</option>
                                <option>发错货</option>
                                <option>商品损坏</option>
                                <option>商品与页面描述不符</option>
                                <option>缺少件</option>
                                <option>质量问题</option>
                                <option>其他</option>
                            </select>
                        </div>

                        <div class="form-group required">
                            <label for="textarea-1" class="col-sm-2 control-label">问题描述：</label>
                            <textarea class="form-control" id="textarea-1" rows="3" placeholder="请填写详细的问题描述，以便于我们更好的为您服务！" data-js="textarea"></textarea>
                            <span id="span-5">0-500字</span>
                        </div>
                    </fieldset>

                    <div class="buttons clearfix">
                        <div class="pull-left"><a class="btn btn-default buttonGray" th:href="@{/order-history}">返回</a>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" onclick="clicks(this)">提交</button>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
<!--底部引入-->
<th:block th:include="include :: footer" />

<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="http://cdn.bootstrapmb.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="js/themejs/libs.js"></script>
<script type="text/javascript" src="js/unveil/jquery.unveil.js"></script>
<script type="text/javascript" src="js/countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
<script type="text/javascript" src="js/datetimepicker/moment.js"></script>
<script type="text/javascript" src="js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="js/jquery-ui/jquery-ui.min.js"></script>

<script type="text/javascript" src="js/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="js/themejs/addtocart.js"></script>
<script type="text/javascript" src="js/themejs/application.js"></script>

<!--个人js引入-->
<script type="text/javascript" src="js/jquery-ui/bootbox.all.js"></script>
<script type="text/javascript" src="js/return/return.js"></script>


</body>
</html>