<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.cyshopspringboot.mapper.OrderInfoVOMapper">
    <select id="sellectAllInfo" resultType="com.cy.cyshopspringboot.viewobject.OrderInfoVO" parameterType="int">
        select
        o.id as oid,
        o.member_id as mid,
        o.member_address_id as address,
        o.creat_time as time,
        o.pay_time as ptime,
        o.total_price as totle,
        o.discounts,
        o.post_price,
        o.payment,
        o.`status`,
        o.deleteStatus,
        oi.nums,
        s.`name` as goods_name,
        s.price,
        s.id as sid,
		img.url,
        p.`name` as payway,
        s.description as des
        from
        `order` as o,
        order_item as oi,
        sku as s,
        payment_method as p,
		sku_img as img
        where
        o.id = oi.order_id
        and
        oi.sku_id = s.id
        and
        o.payment_way_id = p.id
        and
        o.member_id = #{arg0}
		and
		img.sku_id = s.id
        order by
        o.id
        limit #{arg1},5
    </select>


    <select id="selectCount" resultType="Integer" parameterType="int">
        select
        count(o.id)
        from
        `order` as o,
        order_item as oi,
        sku as s
        where
        o.id = oi.order_id
        and
        oi.sku_id = s.id
        and
        o.member_id = #{arg0}
    </select>


    <select id="selectByOrderId" resultType="com.cy.cyshopspringboot.viewobject.OrderInfoVO" parameterType="int">
        select
        o.id as oid,
        o.member_id as mid,
        o.member_address_id as address,
        o.creat_time as time,
        o.pay_time as ptime,
        o.total_price as totle,
        o.discounts,
        o.post_price,
        o.payment,
        o.`status`,
        o.deleteStatus,
        oi.nums,
        s.`name` as goods_name,
        s.price,
        s.id as sid,
        p.`name` as payway,
        s.description as des
        from
        `order` as o,
        order_item as oi,
        sku as s,
        payment_method as p
        where
        o.id = oi.order_id
        and
        oi.sku_id = s.id
        and
        o.payment_way_id = p.id
        and
        o.id = #{arg0}
        and
        s.id = #{arg1}
    </select>
</mapper>